.replyInfor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.replyFor {
  margin-right: 10px;
  font-size: 14px;
  color: #064579;
  font-weight: bold;
}
.commentCreateBoard {
  width: 90%;
  border-top: 1px;
  border-color: #b4b4b4;
  padding: 4px;
  display: flex;
  align-items: center;
}
.commentInput {
  width: calc(100%-60px);
  height: 100px;
  padding: 10px;
  font-size: 14px;
  color: #8d8d8d;
  resize: none;
}
.commentSubmitButton {
  width: 60px;
  height: 40px;
  margin-left: auto;
  border-radius: 12px;
  background-color: #6eb9f7;
  text-align: center;
}